# dependencies
node_modules/

# environment variables
.env
.env.*

# build
dist/

# prisma generated
src/generated/prisma/

# logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/