@media (max-width: 900px) {

  aside {
    width: 100%;
    height: auto;

    position: relative;

    border-right: none;
    border-bottom: 1px solid var(--border);
  }

  .layout {
    flex-direction: column;
  }

  main {
    margin-left: 0;
    padding: 20px;
  }

  .s-notes {
    grid-template-columns: 1fr;
  }

  .modal-content {
    padding: 18px;
  }
}

@media (max-width: 500px) {

  main {
    padding: 15px;
  }

  .note-card {
    padding: 14px;
  }

  button {
    width: 100%;
  }

  .configs-page button {
    min-width: 100%;
  }
}