@media (max-width: 1100px) {

    .s-notes {
        grid-template-columns:
            repeat(auto-fill, minmax(280px, 1fr));
    }

    .tutorial-hero,
    .tutorial-card {
        display: flex !important;
        flex-direction: column !important;
    }

    .tutorial-hero-content,
    .tutorial-card-content {
        order: 1;
    }

    .tutorial-hero-image,
    .tutorial-card-image {
        order: 2;

        width: 100%;
    }

    .tutorial-image {
        height: 320px;
        width: 100%;
        display: block;
    }

    .tutorial-hero-content h1 {
        font-size: 2.8rem;
    }
}

@media (max-width: 900px) {

    aside li,
    aside a {
        font-size: 0.95rem;
    }

    aside {
        width: 100%;
        height: auto;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 16px 12px;

        border-right: none;
        border-bottom: 1px solid var(--border);
    }

    aside nav ul {
        display: flex !important;
        flex-direction: row !important;
        flex-wrap: wrap;

        justify-content: center !important;
        align-items: center;

        gap: 10px;

        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    aside li,
    aside a {
        width: auto !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;

        padding: 12px 14px;
    }

    .logo {
        text-align: center;
        margin-bottom: 16px;
    }

    .layout {
        flex-direction: column;
    }

    main {
        margin-left: 0;
        padding: 25px;
    }

    .review-content {
        padding: 28px;
    }

    .modal-content {
        padding: 22px;
    }

    main {
        padding: 24px;
    }

    .tutorial-card {
        padding: 22px;
    }

    .tutorial-hero-content h1 {
        font-size: clamp(2rem, 8vw, 2.2rem);
    }
}

@media (max-width: 600px) {

    aside li,
    aside a {
        font-size: 0.8rem;
        gap: 2px;
    }

    .tutorial-image {
        height: 240px;
    }

    main {
        padding: 18px;
    }

    .note-card {
        padding: 20px;
    }

    .s-notes {
        grid-template-columns: 1fr;
    }

    button {
        width: 100%;
    }

    .configs-page button {
        width: 100%;
    }

    .modal-header {
        flex-direction: column;
    }

    .review-content {
        padding: 22px;
    }

    .auth-container form {
        padding: 26px;
    }

    .review-actions {
        flex-direction: column;
    }
}