.review-page {
    width: 100%;

    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-page h1 {
    font-size: 2rem;

    margin-bottom: 10px;
}

.review-page > p {
    color: var(--muted);

    margin-bottom: 30px;
}

.review-card {
    width: 100%;
    max-width: 750px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 20px;

    padding: 40px;

    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;

    gap: 30px;

    animation: fadeIn 0.25s ease;
}

.review-card h2 {
    font-size: clamp(1rem, 2vw, 1.2rem);

    line-height: 1.6;

    font-weight: 600;
}

.review-card p {
    font-size: 1.4rem;

    color: var(--text);

    line-height: 1.7;
}

.answer-p {
    color: rgb(0, 121, 0);
}

.review-card h2,
.answer-area p {
  white-space: pre-wrap;
}

.review-card button {
    width: fit-content;

    min-width: 180px;
}

.answer-area {
    display: flex;
    flex-direction: column;

    gap: 25px;
}

.review-finished {
    width: 100%;
    max-width: 600px;

    margin-top: 80px;

    background: var(--card);

    border: 1px solid var(--border);

    border-radius: 20px;

    padding: 50px 30px;

    text-align: center;

    box-shadow: var(--shadow);

    animation: fadeIn 0.25s ease;
}

.review-finished h2 {
    margin-bottom: 10px;
}

.review-finished p {
    color: var(--muted);
}

/* ===== RESPONSIVO ===== */

@media (max-width: 768px) {

    .review-page {
        padding: 20px;
    }

    .review-card {
        padding: 24px;
    }

    .review-card p {
        font-size: 1.1rem;
    }

    .review-card button {
        width: 100%;
    }
}