aside {
    width: var(--sidebar-width);
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    padding: 24px 16px;

    background: var(--sidebar);

    border-right: 1px solid var(--border);

    backdrop-filter: blur(18px);

    display: flex;
    flex-direction: column;

    z-index: 100;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;

    margin-bottom: 34px;

    padding-inline: 10px;

    background:
        linear-gradient(90deg,
            #8b5cf6,
            #3b82f6);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

aside nav ul {
    display: flex;
    flex-direction: column;

}

aside li,
aside a {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 1rem;

    padding: 16px 18px;

    border-radius: 12px;

    color: var(--muted);

    transition:
        background var(--transition),
        color var(--transition);

}

aside a:hover {
    background: rgba(138, 92, 246, 0.215);
    color: var(--text);
}

aside li i,
aside a i {
    width: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-shrink: 0;
}