.tutorial-page {
    display: flex;
    flex-direction: column;

    gap: 40px;
}

/* =========================================================
   HERO
   ========================================================= */

.tutorial-hero {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 40px;

    align-items: center;
}

.tutorial-hero-content {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.tutorial-badge {
    width: fit-content;

    padding: 10px 16px;

    border-radius: 999px;

    background:
        rgba(139, 92, 246, 0.14);

    border:
        1px solid rgba(139, 92, 246, 0.24);

    color: #b794ff;

    font-size: .95rem;
    font-weight: 600;
}

.tutorial-hero-content h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);

    line-height: 1.1;

    max-width: 650px;
}

.tutorial-hero-content p {
    max-width: 620px;

    color: var(--muted);

    font-size: 1.05rem;

    line-height: 1.8;
}

.mark {
    color: #b794ff;
    font-weight: bolder;
}

.tutorial-actions {
    display: flex;
    align-items: center;

    gap: 16px;

    margin-top: 8px;
}

/* =========================================================
   HERO IMAGE
   ========================================================= */

.tutorial-hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =========================================================
   PLACEHOLDER
   ========================================================= */

.tutorial-image {
    width: 100%;

    height: clamp(220px, 30vw, 380px);

    object-fit: contain;
    background-color: var(--images-tutorial-border);
    border-radius: var(--radius-lg);

    border: 1px solid var(--border);

    box-shadow: var(--shadow-lg);
}

/* =========================================================
   SECTION
   ========================================================= */

.tutorial-section {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

/* =========================================================
   CARD
   ========================================================= */

.tutorial-card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 40px;

    padding: 32px;

    border-radius: var(--radius-lg);

    background: var(--card);

    border: 1px solid var(--border);

    box-shadow: var(--shadow);

    backdrop-filter: blur(18px);
}

.tutorial-card-content {
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 18px;
}

.tutorial-card-content h2 {
    font-size: 2rem;
}

.tutorial-card-content p {
    color: var(--muted);

    line-height: 1.8;
}

.tutorial-card-content ul {
    display: flex;
    flex-direction: column;

    gap: 14px;

    margin-top: 10px;
}

.tutorial-card-content li {
    padding: 14px 16px;

    border-radius: 14px;

    background:
        rgba(255, 255, 255, .03);

    border:
        1px solid var(--border);

    color: var(--text);
}